body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 50%;
  background: linear-gradient(to bottom, #300000, #0b0000);
  padding: 50px;
}

.left-panel h1 {
  color: #ff4d4d;
}

.right-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.tabs {
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
}

.tab.active {
  background: red;
}

.auth-form input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

button {
  padding: 12px;
  background: red;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
}

.hidden {
  display: none;
}
